@media screen and (max-width:576px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    .navbar{
       display: none;
    }

    .company-name{
        font-weight: 600px;
        font-size: 1.5rem;
        display:flex;
        justify-content: space-between;
    }

    .menu{
        position: absolute;
        margin-left: 80%;
    }

    em{
        width: 400px;
    }
    nav{
       padding: 0px;
       padding-top: 40px;
       padding-left: 20px
    }

    .navbar{
        display: ;
    }

    header{
        margin: 0px;
        padding: 0px;
    }

    .menu{
        width: 30px;
        height: 30px;
        
    }

    .banner{
        flex-direction: column;
        padding: 0px;
        
    }

    .banner-left{
        padding: 0px;
       
        margin-bottom: 50px;
      
    }

    .banner-h{
        width: fit-content;
        padding-left: 40px;
        
    }

    .banner-txt{
        width: fit-content;

    }

    .banner-p{
       padding-left: 40px;
    }

    .floating-info1{
        top: 1400px; left:40px;
        right: 0px;
        width: fit-content;
    }

    .banner-right>img{
      
        margin-right: 0px;
        width: 100%;
    }
    
    
    .floating-info2{
        right: 30px;
        top: 1000px;
    }
    .btn{
        padding: 10px;
        justify-content: center;
    }

    /* header-end */
    

    .habit-sec{
        flex-direction: column;
        padding: 0px;
        padding-top: 30px;
    }

    .habits{
        flex-direction: column;
        align-items: center;
        
    }

    .habit>p{
        margin-bottom: 100px;
    }

    .habit-txt{
        padding: 20px;
    }

    /* habit-end */

    .run-extra{
        padding: 0px;
    }

    .run{
        flex-direction: column;
        align-items: center;
        
    }

    .run-left{
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .run-right>img{
        width: 340px;
    }

    .btn-3{
        padding: 20px 100px;
        align-self: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .run-extra{
        padding: 10px 15px;
    }

        

    /* run-extra-end */

    .Unique{
        margin: 0px;
        padding: 0px;
    }

    .Unique>div{
        margin: 0px;
        padding: 0px;
    }



    .ai-h{
        padding-left: 20px;
    }

    .line1{
        left: 0px;
    }

    .span1,.span2,.span3{
        padding: 0px;
        font-size: 3rem;
    }

    .span1{
        padding-left: 20px;
    }

    .span2{
        padding-left: 40px;
    }

    .span3{
        padding-left: 100px;
    }

    .floating2{
        left: 0px;
    }

    input{
        padding-right: 0px;
        padding-left: 0px;
        width: 150px;
    }

    .ai-btns{
        padding: 0px;
        margin: 0px;
    }

    .aift{
        left: 0px;
    }

    .rightnav{
        flex-direction: row-reverse;
        gap: 10px;
    }

    .ai-nav{
        margin: 0px 30px;
        background-color: #0c0c0c;
    }

    .aip{
        position: absolute;
        top: 1900px;
        left: 80px;
        
        font-size: 1rem;
        
    }

    .floating2{
        display: none;
    }
    .floating1{
        display: none;
    }
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }

    .ai-btns{
       display: flex;
        top: 2350px;
       position: absolute;
       left: 20px;
       gap: 20px;
    }

    .bmitxt-h{
        margin: 0px;
    }
    

    .ai-btn{
        margin-top: 30px;
        align-items:center;
        
    }

    /* .Unique-end */

    .bmi-txt{
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
    }

    .bmi-left{
       padding-left: 10px;
    }

    .table{
        padding: 0px;
        width: 0px;
    }

    .end{
        padding-bottom: 30px;
    }

    .bmi-right{
        padding-left: 10px;
    }

    .bmi-bottom{
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        
    }

    .bmi-left>h1{
        margin-right: 0px;
    }

    .activity{
        padding: 0px;
        padding: 20px 64px 20px 30px;
    }

    select{
        padding: 13px 82px 13px 20px
    }

    .input2{
        margin: 0px;
        padding: 0px;
        padding-top: 13px;
        padding-bottom: 13px;
        width: fit-content;
    }

    .part-1{
        width: 300px;
    }
    


    

    th,tr,td{
        width: fit-content;
        max-width: 200px;
    }

    table{
        width: 300px;
        margin: 0px;
        justify-content: center;
    }

    .calc-btn{
        padding-right: 120px;
        left: 0px;
    }

    /* bmi-end */

    .team{
        padding: 0px;
    }

    .team-img{
        grid-template-columns: repeat(1,1fr);
    }

    .team-txt{
        padding: 30px 40px;
    }

    /* team-end */

    footer{
        padding: 0px;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 40px;
    }
  